@import "style.css";

html, body {
    height: 100%;
    background-color: var(--background);
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
}


/********* Discussions *********/
/**** Discussions header ****/ 
#discussions-header {
    margin-bottom: 10px;
    display: flex;

    height: 10vh;
    width: auto;

    border-top-left-radius: 7px;
    background-color: var(--dark-00);
    color: white;
    border-bottom: var(--dark-09) solid 1px;
}

#user-search {
    width: 100%;
    margin: auto 10px;
    height: 40px;
    background-color: var(--dark-02);
    border-radius: 10px;
    display: flex;
    padding: 0px 10px;
    border: solid 1px var(--dark-09);
}

#user-search-input {
    font-size: 15px;
    background-color: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}

#user-search-input:focus {
    outline: none;
}

/**** Discussions body ****/ 
#discussions {
    max-width: 300px;
    height: 100%;
    flex: 30%;

    display: flex;
    flex-direction: column;

    background-color: var(--dark-02);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.contacted-user {
    height: 60px;
    margin: 4px 10px;

    display: flex;

    color: white;
    background-color: var(--dark-00);
    border-radius: 10px;

    transition: 0.2s ease-in-out;
}

.contacted-user:not(#chat-header):hover {
    cursor: pointer;
    background-color: var(--dark-01);
    transform: scale(1.02);
}

.contacted-user:not(#chat-header):hover .contacted-user-status {
    border-color: var(--dark-01);
}

.contacted-user-pfp-container { 
    margin: 0px 8px;
}

.contacted-user-pfp {
    pointer-events: none;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    object-fit: cover;

    background-color: white;
    border-radius: 50%;
}

.contacted-user-pfp-header {
    margin-top: auto;
}

.contacted-user-status {
    width: 18px;
    height: 18px;

    background-color: green;
    border-radius: 50%;
    border: 4px solid var(--dark-01);
    transition: 0.2s ease-in-out;

    position: relative;
    top: -12px;
    left: 28px;
}

.contacted-user-infos {
    margin: auto 5px;

    white-space: nowrap;
    overflow: hidden;
}

.contacted-user-description {
    font-size: 14px;
    color: grey;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Chat */
#chat {
    height: 100%;
    border-left: var(--dark-09) solid 1px;

    display: flex;
    flex-direction: column;
    flex: 70%;
}


/* Chat header */
#chat-header {
    width: 100% !important;
    height: 10vh;

    margin: 0px !important;
    padding: 10px 25px;

    border-radius: 0;
    border-top-right-radius: 7px;
    border-bottom: var(--dark-09) solid 1px;
}


/* Chat box */
#chat-box {
    background-color: var(--dark-02);
    padding: 15px;

    overflow-y: scroll;
    
    flex: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#chat-box::-webkit-scrollbar {
    width: 8px;
}

#chat-box::-webkit-scrollbar-track {
    background: none;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #2e2E2E;
    border-radius: 100px;
}

#chat-popup {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 200px;
    transform-origin: center;
    left: 50%;
    right: 50%;
    top: 20px;
    padding: 20px;

    background-color: var(--dark-01);
    border-radius: 45px;
    color: white;
    transition: all 0.5s ease-in-out;
}

.msg {
    display: inline-flex;
    flex-direction: column;

    margin: 1px;

    max-width: 75%;
    border-radius: 5px;
    position: relative;
}

.msg-options {
    display: flex;
    opacity: 0;
    background-color: var(--dark-01);
    border-radius: 25px;
    position: absolute;
    top: -50%;
    right: 4px;
    padding: 6px 10px;
    flex-direction: row;
    transition: all 0.1s ease-in-out;
    justify-content: space-between;
    z-index: 20;
}

.msg-option {
    min-width: 12px;
    min-height: 12px;
    width:15px; 
    height:15px;

    color: var(--gray-02);
    border-radius:50%; 
    transition: all 0.15s ease-in-out;
}

.msg-option:hover {
    color: white;
    cursor: pointer;
}

.msg-option.fa-trash:hover {
    color: rgb(180, 38, 38);
}

.msg-option-separator {
    width: 10px; 
    height: 0px;
}

.msg:hover > .msg-options{
    opacity: 1;
}

.msg.user_other {
    margin-right: auto;
    background-color: rgb(199, 199, 199);
}

.msg.user_me {
    margin-left: auto;
    background-color: rgb(22, 160, 133);
}

.msg-text {
    text-align: justify;
    padding: 10px;
}

.msg-last {
    height: 100px;
}

.msg.editing {
    background-color: lightseagreen;
}

.date-separator {
    margin: 50px 50px 30px;
    padding-bottom: 10px;

    text-align: center;

    border-bottom: 1px solid rgb(255, 255, 255, 0.25);
    color: rgb(255, 255, 255, 0.5);
}


/* Chat message input */
#chat-message {
    background-color: var(--dark-00);
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#chat-inputs {
    width: 100%;
    min-height: 40px;
    padding: 5px 20px;
    background-color: var(--dark-02);

    border: solid 1px var(--dark-09);
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

#chat-inputs:focus-within {
    border: solid 1px white;
}

#chat-inputs.editing {
    border-color: lightseagreen;
}

#chat-message-text {
    background: none;
    border: none;

    margin: 0px 5px;
    width: 100%;

    color: white;
    font-size: 15px;
}

#chat-message-text:focus {
    outline: none;
}

.chat-option {
    min-width: 20px;
    min-height: 20px;
    margin: auto 0px;

    color: var(--gray-02);
    transition: all 0.15s ease-in-out;
}

.chat-option:hover {
    color: white;
    cursor: pointer;
}

.chat-option-separator {
    width: 20px; 
    height: 0px;
    margin: auto 0px;
}

.chat-option-separator:last-of-type {
    width: 2px; 
    height: 20px;
    margin-right: 15px;
    margin-left: 15px;
    
    background-color: var(--gray-02);
}

#chat-message-edit {
    display: none;
}
