:root {
	--header-background: #2e2E2E;
	--header-foreground: #dddddd;

	--header-background-white-theme: #eeeeee;
	--header-foreground-white-theme: #2e2E2E;
}

header {
	position:fixed;
	display:flex;
	flex-flow:column nowrap;
	height:100%;
	width: 90px;
	overflow: scroll;
	scrollbar-width: none;
	background-color:var(--header-background);
	/*border-right:5px solid rgba(255, 255, 255, 0.5); /* black */*/
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}



header button {
	flex: 0.12;
	cursor: pointer;
	background: #00000f;
	display:block;
	background:none;
	border:none;
	opacity:0.5;
	transition:all 0.1s linear;
	white-space: nowrap;

	display: flex;
	align-items: center;

	color: var(--header-foreground);
}

header button:nth-child(1) {
	margin-top: 10px;
}

header button:nth-child(5) {
	margin-top: auto;
	margin-bottom: 10px;
	transition: none;
}
header button:hover {
	opacity: 1;
}

span.precision {
			display: inline-block;
			opacity: 0; /* Texte initiallement invisible */
			transition: opacity 0.2s ease; /* Transition lorsqu'il devient visible */
			margin-left: 10px; /* Ajoutez un espace entre l'icône et le texte si nécessaire */
		}

header button:hover > svg {
	transform: scale(1.1);
	opacity: 1;
}

header button:nth-child(5):hover {
	opacity: 1;
}

header svg {
	width: 30px;
	padding: 0 25px;
	font-size: 2.6em;
	align-self: center;
}

header span {
	opacity: 0;
}

header button:nth-child(5):hover svg {
	color: #e74c3c;
}

/*header > img {
	width: 50px;
}*/

