:root {
	--header-background: #2e2E2E;
	--header-foreground: #dddddd;

	--header-background-white-theme: #eeeeee;
	--header-foreground-white-theme: #2e2E2E;
}

/* container */
header {
	position:fixed;
	display:flex;
	flex-flow:column nowrap;
	height:100%;
	width: 90px;
	overflow: scroll;
	scrollbar-width: none;
	background-color:var(--header-background);
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
	z-index: 1;
}

/* items in container */
header > button {
	flex: 0.12;
	display:block;
	background:none;
	border:none;
	cursor: pointer;
	opacity:0.5;
	transition:opacity 0.1s linear;
	white-space: nowrap;

	display: flex;
	align-items: center;

	color: var(--header-foreground);
	z-index: 1;
}

/* transition on items hover */
header > button:hover {
	opacity: 1;
}
header > button:hover > svg {
	transform: scale(1.1);
}

/* avoid the first item to stick to the top of the page */
header > button:nth-child(1) {
	margin-top: 10px;
}

/* stick the last item at the bottom of the page */
header > button:nth-child(5) {
	transition: none;
	margin-top: auto;
	margin-bottom: 10px;
}
/* red on hover for the disconnect button */
header > button:nth-child(5):hover {
	color: var(--red);
}

/* config size of icons */
header > button > svg {
	width: 30px;
	padding: 0 25px;
	font-size: 2.6em;
	align-self: center;
}

/* config precision span content opacity 0 at the beginning, to 1 thanks to JavaScript */
header > button > span.precision {
	display: inline-block;
	opacity: 0;
	transition: opacity 0.2s ease;
	margin-left: 10px;
}
