
:root {
    --login-page-background: #2e2E2E;
    --login-foreground: #dddddd;

    --login-background: #212121;

    --login-input-and-separator-background: rgb(44, 47, 51);
    --login-input-background-hover: rgba(44, 47, 51, 0.8);

    --login-background-white-theme: #eeeeee;
    --login-foreground-white-theme: #2e2E2E;

    --login-green: rgb(39, 174, 96);
    --login-green-hover: rgba(39, 174, 96, 0.8);

    --register-blue: rgb(41, 128, 185);
    --register-blue-hover: rgba(41, 128, 185, 0.8);
}

/* styles.css */



body {
    background-color: var(--login-page-background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.account-created {
    text-align: center;
    color: rgb(41, 168, 253);
    padding-left: 40px;
    height: 55px;
    width: 100vw;
    border-top: 2px solid rgb(41, 128, 185);
    border-bottom: 2px solid rgb(41, 128, 185);
    background-color: rgba(41, 128, 185, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popupLeave 1.5s ease-in-out forwards;
    animation-delay: 3s;
}

@keyframes popupLeave {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-56px);
    }
}

.form-container {
    border-top-width: 7px;
    border-top-style: solid;
    border-top: 7px solid var(--login-green);
    width: 340px;
    padding: 20px;
    background-color: var(--login-background);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-register {
    border-top-color: var(--register-blue);
}

.form-login {
    border-top-color: var(--login-green);
}


label {
    display: block;
    margin-bottom: 6px;
    color: #aaaaaa;
    font-size: 12px;
    font-weight: bold;
}

input {
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;

    background-color: var(--login-input-and-separator-background);
    color: #dddddd;
}

input:hover {
    background-color: var(--login-input-background-hover);
}

input:focus::placeholder {
    opacity: 0;
}

input[type="submit"] {
    cursor: pointer;
    transition: all 0.1s linear;
}

.form-register input[type="submit"] {
    background-color: var(--register-blue);
}

.form-register input[type="submit"]:hover {
    background-color: var(--register-blue-hover);
}

.form-login input[type="submit"] {
    background-color: var(--login-green);
}

.form-login input[type="submit"]:hover {
    background-color: var(--login-green-hover);
}

.form-register #password {
    margin: 0;
    position: relative;
}

.form-register #password::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    
    bottom: 0;
    left: 0;
    color: blue;
    background-color: var(--red);
}

.secure-password-and-bad-password {
    color: var(--red);
    margin-top: 3px;
    margin-bottom: 15px;
}

.container {
    text-align: left;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}



.already-account {
    font-size: 12px;
    margin: 0;
    color:  #b5bac1;
}

.separator {
    border-top: 3px solid var(--login-input-and-separator-background);
    margin: 8% 5% 3% 5%;
}