@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "reset.css";
@import "header.css";

:root {
	--header-background: rgb(22, 22, 22);
	--header-foreground: #dddddd;

	--header-background-white-theme: #eeeeee;
	--header-foreground-white-theme: #2e2E2E;
	--primary-background: #eeeeee;
	--primary-foreground: black;
	
	--secondary-background: #eeeeee;
	--secondary-foreground: black;

	--red: #e74c3c;

	--background: rgb(21, 21, 21);
	
    --dark-00: rgb(22, 22, 22);
    --dark-01: rgb(26, 26, 26);
    --dark-02: rgb(30, 30, 30);
    --dark-03: rgb(33, 33, 33);
    --dark-04: rgb(36, 36, 36);
    --dark-05: rgb(39, 39, 39);
    --dark-06: rgb(44, 44, 44);
    --dark-07: rgb(50, 50, 50);
    --dark-08: rgb(53, 53, 53);
    --dark-09: rgb(56, 56, 56);

    --gray-01: rgb(60, 60, 60);
    --gray-02: rgb(128, 128, 128);
}

* {
    font-family: "Montserrat", sans-serif;
}

button {
	border: none;
}


main {
	margin-left: 90px !important; /* width of the footer */ 
}
