:root {
	--primary-background: #eeeeee;
	--primary-foreground: black;
	
	--secondary-background: #eeeeee;
	--secondary-foreground: black;
}

button {
	border: none;
}


main {
	margin-left: 90px; /* width of the footer */
}
