@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "reset.css";
@import "header.css";

:root {
	--primary-background: #eeeeee;
	--primary-foreground: black;
	
	--secondary-background: #eeeeee;
	--secondary-foreground: black;

	--red: #e74c3c;
}

* {
    font-family: "Montserrat", sans-serif;
}

button {
	border: none;
}


main {
	margin-left: 90px; /* width of the footer */
}
